Хотите забрать этого питомца? Мы свяжемся с вами по почте.
<div class="custom-form">
    <div class="custom-form-row">
      <%= link_to 'Забрать', "/pets/#{@pet.id}", {:class=>"link-to-style1"}%>
      <%= link_to 'Вернуться к просмотру животных', '/', {:class=>"link-to-style2"} %>
    </div>
</div>
