<ul>
  <% @pets.each do |p| %>
    <li>
      <%= link_to p.name, pet_path(p) %>
      <p>
        <%= p.description %>
      </p>
    </li>
  <% end %>
</ul>

<%= link_to 'Отдать питомца', new_pet_path %>
