.description-pet {
    font-size: 20px;
    min-width: 200px;
    border: #2E2F30 solid 1px;
    padding: 5px;
}

.description-pet .description-pet-row {
    font-size: 15px;
}

.pet-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.custom-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.custom-form .custom-form-row {
    display: flex;
    justify-content: space-between;
}

.custom-form-sign {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.custom-form-sign .custom-form-sign-row {
    display: flex;
    justify-content: space-between;
}